.signup-button {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	height: 50px;
	width: 120px;
	color: rgb(153, 153, 217);
	background-color: transparent;
}

.signup-button:hover {
	color: white;
}
