form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	justify-content: center;
	border: 2px red solid;
	font-family: "Montserrat", sans-serif;
}

form button {
	margin-top: 15px;
}

form .input-container {
	display: flex;
	flex-direction: column;
	font-size: 15px;
}
