.song-info-background {
	background-color: rgb(231, 231, 231);
}

.song-info-page {
	margin-left: 14%;
	margin-right: 14%;
}

.song-full-container {
	background: #fff;
	font-family: "Montserrat", sans-serif;
	background-image: url(https://soundcloud-clone-kpop-seeders.s3.us-west-2.amazonaws.com/images/AllSongsBackground.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	height: 500px;
	cursor: auto;
	display: flex;
}
#song-container-left {
	display: flex;
	flex-direction: column;
	width: 75%;
	align-items: flex-start;
	justify-content: space-between;
}

/*title */
.song-full-container h1 {
	color: black;
	font-size: 45px;
}
.song-full-container p {
	color: black;
	font-size: 20px;
	margin-top: 20px;
}

.song-img-wrapper {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 375px;
	width: 375px;
	border-radius: 5px;
	position: relative;
	margin-top: 40px;
	margin-right: 40px;
}

.song-edit-delete-btns {
	font-size: 15px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.song-edit-btn {
	color: black;
	border: 3px grey solid;
	width: 100px;
	height: 100%;
	padding: 10px;
	border-radius: 4px;
}

.user-comments-section {
	overflow: scroll;
	height: 350px;
	background-color: white;
}

.comments-container {
	display: flex;
	flex-direction: column;
	background-color: white;
}

#song-icons-bar {
	display: flex;
	border-bottom: grey solid 1px;
	height: 50px;
	background-color: white;
}

#song-icons-buttons {
	display: flex;
	width: 100%;
	align-items: center;
}

.song-btns {
	margin-right: 10px;
	height: 30px;
	width: 100px;
	border: 1px grey solid;
	background-color: white;
}

#song-stats {
	display: flex;
}

.songs-stats-divs {
	display: flex;
	margin-left: 10px;
	height: 100%;
	width: 100px;
	align-items: center;
	justify-content: right;
	color: grey;
	background-color: white;
}

#comments-area {
	display: flex;
}

#comments-right-area {
	border-left: lightgrey solid 1px;
	background-color: white;
	width: 350px;
}

.user-comments-section {
	display: flex;
	flex-direction: column;
	width: 72%;
}
