nav {
	background: #fff;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 10;
	height: 100px;
}

nav ul {
	justify-content: space-between;
	align-items: center;
	display: flex;
	border: orange solid 2px;
	width: 100%;
}

.nav-bar {
	display: flex;
	width: 100%;
	height: 70px;
	border: 2px green solid;
}

.nav-bar li {
	display: flex;
	font-size: 20px;
	text-decoration: none;
}

.nav-logo a {
	background: #ffffff;
	color: #fff;
	display: flex;
	height: 80px;
}
