.nav-bar-wrapper {
	background-color: rgb(70, 70, 70);
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 10;
	height: 50px;
	display: flex;
	font-family: "Montserrat", sans-serif;
}

.nav-links {
	align-items: center;
	display: flex;
	/* border: orange solid 2px; */
	width: 100%;
	height: 50px;
	justify-content: space-around;
}

.nav-btn {
	color: rgb(153, 153, 217);
	font-size: 15px;
	padding: 12px;
}

.nav-btn:hover {
	color: white;
}

.nav-bar li {
	display: flex;
	text-decoration: none;
}

#nav-profile-link {
	border: 2px purple solid;
	height: 50px;
	width: 150px;
	margin-right: 86px;
}

#nav-logo {
	padding-top: 17px;
	height: 43px;
}
