.login-form {
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: center;
	border: 2px black solid;
	font-family: "Montserrat", sans-serif;
	width: 500px;
	height: 600px;
	text-align: center;
}
#login-form-pic {
	background-image: url(https://soundcloud-clone-kpop-seeders.s3.us-west-2.amazonaws.com/images/logo.png);
	height: 150px;
	width: 400px;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}

#login-form-title {
	margin-bottom: 30px;
	margin-top: 0px;
}

#login-form-btn {
	margin-top: 40px;
	width: 100px;
	height: 50px;
	background-color: lavender;
	font-size: 17px;
}

form .input-container {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	margin-bottom: 15px;
	width: 80%;
	margin-top: 15px;
}

form .input-container input {
	border: 2px solid black;
	padding: 6px 5px;
	border-radius: 5px;
	outline: none;
}

#login-form-errors {
	margin-top: 20px;
	color: red;
}
